<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
    <br>
    <strong>Email:</strong>
    <%= patient.email %>
    <br>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

</div>
