<div id="<%= dom_id doctor %>">
  <p>
    <strong>Doctor id:</strong>
    <%= doctor.id %>
    <br>
    <strong>Name:</strong>
    <%= doctor.name %>
    <br>
    <strong>Speciality:</strong>
    <%= doctor.speciality %>
  </p>

</div>
